.figure {
  animation: translateUpRotate 10s;
  z-index: 0;

  @keyframes translateUpRotate {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }

    15% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate(0, -100%) rotate(360deg);
    }
  }
}